@using TimeGallery.Helper


@{
    Layout = "../Shared/_GalleryLayout.cshtml";
}

<div>
    <article class="weui_article">        
        <section>
            <h2 class="title">说明</h2>
            <section>
                <h3>1.1 权利</h3>
                <p>
                    你可以免费存储照片视频到本平台。
                </p>
            </section>
            <section>
                <h3>1.2 义务</h3>
                <p>
                    本平台现处于开发阶段，有任何建议请反馈：<a href="mailto:#">qinjin@qq.com</a>
                </p>
            </section>
        </section>
    </article>
</div>