@using TimeGallery.Helper


@{
    Layout = "";
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <link ref="stylesheet" href="//res.wx.qq.com/open/libs/weui/0.4.2/weui.min.css">
    <title>@ConfigHelper.WebTitle</title>
</head>
<body>
<div>
    <article class="weui_article">
        <h1>平台说明</h1>
        <section>
            @*<h2 class="title">说明</h2>*@
            <section>
                <h3>1.1 权利</h3>
                <p>
                    你可以免费存储照片视频到本平台。
                </p>
            </section>
            <section>
                <h3>1.2 义务</h3>
                <p>
                    本平台现处于开发阶段，有任何建议请反馈：<a href="mailto:qinjin@qq.com">qinjin@qq.com</a>
                </p>
            </section>
        </section>
    </article>
</div>
</body>
</html>